--trusted-host infra-pypicloud.prod.pachama.com \
--index-url https://infra-pypicloud.prod.pachama.com/simple/


# these are the basic dev packages that will be installed
# With nearly every service
autopep8
pre-commit
pylint
virtualenv
pip-tools~=6.5.1

# linting/testing requirements
bandit
black
flake8
flake8-broken-line
flake8-bugbear
flake8-comprehensions
flake8-eradicate
flake8-print
isort
mypy
pdbpp
pytest
pytest-cov
pytest-mock
pytest-watch
pytest-testmon
pytest-picked
pytest-asyncio

# Other
copier
